body {
	background-color: #66afe4;
}

.header-wrap {
	padding: 1rem 1rem;
}

.header-title {
	width: 100%;
}

.logo {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

a.logo {
	height: 80px;
}

.section-bg:before {
	top: -60px;
}