body {
	background-color: #66afe4;
}

.header-wrap {
	padding: 1rem 1rem;
}

.header-title {
	width: 100%;
}

.logo {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

a.logo {
	height: 80px;
}

.section-bg:before {
	top: -60px;
}

.two_up-part {
    margin-top: 3.75rem;
}

@media screen and (min-width: 600px) {
.two_up {
    width: 100%;}
	
.two_up-part {
    float: left;
    display: block;
    margin-right: 5%;
    width: 45%;
    margin-top: 0;} 
}

